/* Globals */
* {
    margin: 0;
}

body {
    background-color: 353535;
    /* background-image: linear-gradient(#353535 , #001266,#0020B3); */
}

.contact-photo {
    width: 100px;
}

/* Typography */

h1, a {
    font-family: 'Megrim', 'M Plus 1 Code', sans-serif;
}

h2, h3, p {
    font-family: 'M PLUS 1 Code', sans-serif;
}

/* Colors and Weight*/
header a, h1, p {
    color: #B38600;
}

h2 {
    color: #DADADA;
    font-weight: 300;
}

h3 {
    color: #FFBF00;
    font-weight: 400;
}

a {
    font-weight: 700;
}

/* Grid Container*/

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 8fr;
    grid-template-areas:  
        "header header header"
        "landing landing landing";
}

header { grid-area: header;}

main { grid-area: landing;}


/* Real Grid */

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "intro intro intro"
        ". jwst jwst"
        "about about about"
        "tech tech tech"
        "cont cont cont";
        
}

.main-content { grid-area: intro; }
.jwst { grid-area: jwst; }
.about { grid-area: about; }
.tech {grid-area: tech;}
.contact { grid-area: cont; }





/* Header */
header {
    margin: 1.5em 2em;
    display: flex;
    justify-content: space-between;
}

header a {
    text-decoration: none;
}

/* Landing */

.main-content {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1.5em 2em;
}

.CTA {
    display: flex;
}

.CTA button {
    font-family: 'Megrim', 'M Plus 1 Code', sans-serif;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    margin: 1em 1em 0 0;
    background: #FFBF00;
    border: none;
    box-shadow: 1.96237px 1.96237px 5.3965px 1.96237px rgba(0, 0, 0, 0.25);
    width: 120px;
    height: 34.34px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.4s;
    overflow: hidden;
    position: relative;
}

button:after {
    content: "";
    background: #B38600;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.CTA a {
    color: rgba(0, 0, 0, 0.64);
    text-decoration: none;
}

/* .CTA button:hover,
.CTA button:focus{
    background-color: #B38600;
} */


/* About Me */

.about {
    margin: 1.5em;
    display: grid;
    grid-template-columns: 1fr, 2fr;
    grid-template-areas: 
        "about-title about-title"
        "action-photo about-description"
        "social about-description";
}

.about h1 { 
    grid-area: about-title;
    min-width: fit-content;
    margin-bottom: 1em;
}

.about-description { 
    grid-area: about-description;
    min-width: 200px;
    margin-left: 2em;
}

.about-description h2,
.about-description h3,
.about-description p {
    margin-bottom: .5em;
    line-height: 1.5em;
}



.action-photo { 
    grid-area: action-photo;
    object-fit: cover;
    object-position: 0%;
    max-width: 100px;
    min-height: 250px;
    border: 1.25436px solid #FFBF00;
    filter: drop-shadow(1.67247px 1.67247px 2.50871px rgba(0, 0, 0, 0.57));
    align-self: center;
}

.social {
    grid-area: social;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;
}

.social i {
    font-size: 38px;
    color: #B38600;
}

.social i:hover,
.social i:focus {
    color: #FFBF00;
}

/* Tech */

.tech h1 {
    margin: 1em;
}


.tech-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 2em 0;
}

.tech-icons i {
    color: #B38600;
    font-size: 48;
}

.tech-icons i:hover,
.tech-icons i:focus {
    color: #FFBF00;
}

/* Larger Screens */

@media only screen and (min-width: 650px) {
    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "intro intro jwst"
            "about about about"
            "tech tech tech"
            "cont cont cont";

    }

    .about {
        grid-template-areas: 
            "about-title about-title"
            "action-photo about-description"
            "action-photo social";
    }
}
